.container-snack-bar {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  height: 60px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.data {
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 0 5px;
}

.error {
  background: #fb5050;
}

.warning {
  background: #f7c635;
}

.info {
  background: rgb(70, 150, 255);
}

.success {
  background: rgb(72, 221, 72);
}

.btn-snack-bar {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
