@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-cyan);
$custom-app-secondary: mat-palette($mat-teal, A200, A400, 700);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container {
  background: transparent;
  box-shadow: inherit;
}

.mat-dialog-container {
  padding: 0 !important;
}

.btn {
  min-width: 200px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.btn:hover {
  filter: brightness(1.1);
}
.button-default {
  background: #52B69A;
  color: #fff;
}
.button-light {
  background: #00bfe5;
  color: #fff;
  font-weight: lighter;
}
.button-dark {
  background: #010221;
  color: #fff;
}
.button-info {
  background: #0082c8;
  color: #fff;
}
.button-warning {
  background: #ffbd16;
  color: #fff;
}
.button-error {
  background: #ec3102;
  color: #fff;
}
